.playlistsCard {
  color: black;

  background-image: var(--gradient);
  background-size: cover;
}

.playlistsCard .card {
  position: relative;
  width: 120px;
  min-width: 100%;
  text-align: center;
  font-family: "Fredoka One", cursive;
  border-radius: 5%;
  font-size: 2em;
  height: 220px !important;
}

.ui.cards > .card {
  color: black;
  // height: 150px;
  background-image: var(--gradient);
  background-size: cover;
}

.playlistTitles {
  font-size: 1.2em;
}

.editPlaylistButton {
  position: absolute;
  bottom: 2%;
  left: 2%;
}

.playlistTotalLikes {
  font-family: "Fredoka One", cursive;
}

.deletePlaylistButton {
  position: absolute;
  bottom: 2%;
  right: 2%;
}
