.userRegistrationWrapper {
  margin-top: -7%;
  
  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-height: 300px;
    max-width: 350px;
    // flex-basis: 100%;
  }

  .userRegistrationSuccessBanner {
    font-family: "Fredoka One", cursive;
    top: 50%;
    left: 50%;
    height: 100%;
    background-image: var(--gradient);
    color: transparent;
    background-clip: text;
    background-size: 400%;
    animation: bg-animation 3s infinite alternate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
  }

  .userRegistrationResetButton {
    // margin: 5% auto;
  }

  .buttonGroupWrapper {
    max-width: 75%;
  }
}
