.moodsContainer {
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  height: 35vh;
  width: 78.5%;
  overflow-y: scroll;
  border: 2px solid white;
  border-radius: 10px;
  margin-left: 3%;
}

.moodsListWrapper {
  height: 100%;
  background: black;

  .moodsListBanner {
    font-family: "Fredoka One", cursive;
    font-size: 4em;
    // padding-left: 2%;
    top: 50%;
    left: 50%;
    height: 100px;
    width: 500px;
    background-image: var(--gradient);
    color: transparent;
    background-clip: text;
    background-size: 400%;
    animation: bg-animation 3s infinite alternate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
