.playlistPageWrapper {
  //   display: flex;
  .bodyLeftRow {
    margin: 0 5% 5% 2%;
    flex-shrink: 1;
    flex-basis: 33%;
    max-width: 33%;
    display: flex;
    align-items: center;
  }

  .bodyRightRow {
    flex-grow: 1;
    margin-right: 2%;
  }

  .playlistTitleBanner {
    font-family: "Fredoka One", cursive;
    top: 50%;
    left: 50%;
    line-height: 1em;
    background-image: var(--gradient);
    color: transparent;
    background-clip: text;
    background-size: 400%;
    animation: bg-animation 3s infinite alternate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 6em;
  }
}
