.profileWrapper {
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
  width: 82%;
  overflow-y: scroll;
  border-radius: 10px;
  margin-left: 16%;
  margin-top: 1%;
}

.playlistCreationWrapper {
  width: 280px;
}

.profilePagePlayerWrapper {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
}
