:root {
  --gradient: linear-gradient(
    45deg,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
  );
}

.viewContainer {
  display: flex;
}

.landingWrapper {
  background: black;
  color: white;
  text-align: center;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landingFormWrapper {
  width: 350px;
  height: 350px;
  // top: 50%;
  // left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 50%;
  padding: 3%;

  .formLabel {
    color: black;
  }
}

.landingTitleContainer {
  font-family: "Fredoka One", cursive;
  top: 50%;
  left: 50%;
  height: 100px;
  // width: 350px;
  background-image: var(--gradient);
  color: transparent;
  background-clip: text;
  background-size: 400%;
  animation: bg-animation 3s infinite alternate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .landingTitleText {
    // justify-self: flex-end;
    font-size: 6em;
  }
}

// .browseWrapper {
//   height: 100;
// }

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.newUserButtonWrapper {
  bottom: 15%;
  left: 50%;
}

.moodPageWrapper {
  .moodPageBanner {
    font-family: "Fredoka One", cursive;
    top: 50%;
    left: 50%;
    height: 100px;
    background-image: var(--gradient);
    color: transparent;
    background-clip: text;
    background-size: 400%;
    animation: bg-animation 3s infinite alternate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 6em;
  }
}

.notFoundWrapper {
  .notFoundBanner {
    font-family: "Fredoka One", cursive;
    top: 50%;
    left: 50%;
    height: 100px;
    background-image: var(--gradient);
    color: transparent;
    background-clip: text;
    background-size: 400%;
    animation: bg-animation 3s infinite alternate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 6em;
  }
}
