:root {
  --gradient: linear-gradient(
    45deg,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
  );
}

.viewContainer {
  display: flex;
}

.landingWrapper {
  background: black;
  position: relative;
  color: white;
  text-align: center;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .spotAuthWrapper {
    background-image: var(--gradient);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .authBtn {
      font-family: "Fredoka One", cursive;
      font-size: 1.5em;
    }
  }
}

.landingFormWrapper {
  width: 350px;
  height: 350px;
  // top: 50%;
  // left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 50%;
  padding: 0;

  .loginLoaderWrapper {
    background-image: var(--gradient);
    opacity: 0.85;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    z-index: 55;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    position: absolute;

    .loaderDefiner {
      opacity: 0.99;
    }
  }

  .formLabel {
    color: black;
  }
}

// .landingFormWrapper:after {
//   content: "";
//   display: block;
//   padding-bottom: 100%;
// }

.landingTitleContainer {
  font-family: "Fredoka One", cursive;
  top: 50%;
  left: 50%;
  height: 100px;
  // width: 350px;
  background-image: var(--gradient);
  color: transparent;
  background-clip: text;
  background-size: 400%;
  animation: bg-animation 3s infinite alternate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .landingTitleText {
    // justify-self: flex-end;
    font-size: 6em;
  }
}

// .browseWrapper {
//   height: 100;
// }

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.newUserButtonWrapper {
  margin: 5% auto;
  bottom: 15%;
  left: 50%;
}

.moodPageWrapper {
  .moodPageBanner {
    font-family: "Fredoka One", cursive;
    top: 50%;
    left: 50%;
    height: 100px;
    background-image: var(--gradient);
    color: transparent;
    background-clip: text;
    background-size: 400%;
    animation: bg-animation 3s infinite alternate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 6em;
  }
}

.notFoundWrapper {
  .notFoundBanner {
    font-family: "Fredoka One", cursive;
    top: 50%;
    left: 50%;
    height: 100px;
    background-image: var(--gradient);
    color: transparent;
    background-clip: text;
    background-size: 400%;
    animation: bg-animation 3s infinite alternate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 6em;
  }
}

.viewsErrorWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .viewsErrorBanner {
    font-family: "Fredoka One", cursive;
    text-align: center;
    top: 50%;
    left: 50%;
    height: 200px;
    background-image: var(--gradient);
    color: transparent;
    background-clip: text;
    background-size: 400%;
    animation: bg-animation 3s infinite alternate;
    font-size: 3em;
  }
}

.artistPageWrapper {
  padding-bottom: 5%;

  .artistPageHeader {
    padding: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: space-evenly;

    .headerLeftRow {
      margin-right: 3%;
      width: 360px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;

      .artistPageMainArt {
        flex-shrink: 1;
        border-radius: 50%;
        max-height: 340px;
        max-width: 340px;
        flex-basis: 340px;
        min-width: 100%;
      }
    }

    .headerRightRow {
      flex-grow: 1;
    }
  }

  .artistPageMainImage {
    border-radius: 50%;
    max-height: 340px;
    max-width: 100%;
  }

  .artistPageBanner {
    font-family: "Fredoka One", cursive;
    top: 50%;
    left: 50%;
    line-height: 1em;
    text-align: center;
    height: 3em;
    // height: 75px;
    // width: 340px;
    background-image: var(--gradient);
    color: transparent;
    background-clip: text;
    background-size: 400%;
    animation: bg-animation 3s infinite alternate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 5em;
  }

  .artistPageSubBanner {
    font-family: "Fredoka One", cursive;
    top: 50%;
    left: 50%;
    height: 75px;
    background-image: var(--gradient);
    color: transparent;
    background-clip: text;
    background-size: 400%;
    animation: bg-animation 3s infinite alternate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 3em;
  }

  .artistPageCardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .artistPageCard {
    flex: 0 0 auto;
    flex-basis: 350px;
    width: 340px;
    margin-right: 15px;
    font-size: 1.5em;
  }
}

.albumPageWrapper {
  padding-bottom: 5%;

  .albumPageHeader {
    margin-left: 3%;
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }

  .albumPageBanner {
    font-family: "Fredoka One", cursive;
    top: 50%;
    left: 50%;
    line-height: 1em;
    text-align: center;
    height: 100%;
    // height: 75px;
    // width: 340px;
    background-image: var(--gradient);
    color: transparent;
    background-clip: text;
    background-size: 400%;
    animation: bg-animation 3s infinite alternate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 5em;
  }

  .albumPageBody {
    display: flex;
    margin-top: 3%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;

    .albumPageMainArt {
      flex-shrink: 1;
    }

    .bodyLeftRow {
      margin: 0 5% 5% 2%;
      flex-shrink: 1;
      flex-basis: 33%;
      display: flex;
      align-items: center;

      .albumPageMainArt {
        flex-shrink: 1;
        // flex-basis: 5%;
        max-width: 100%;
      }
    }

    .bodyRightRow {
      flex-grow: 1;
      margin-right: 2%;
    }
  }

  .artistPageSubBanner {
    font-family: "Fredoka One", cursive;
    top: 50%;
    left: 50%;
    height: 75px;
    background-image: var(--gradient);
    color: transparent;
    background-clip: text;
    background-size: 400%;
    animation: bg-animation 3s infinite alternate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 3em;
  }
}

.viewsSubBanner {
  font-family: "Fredoka One", cursive;
  top: 50%;
  left: 50%;
  height: 75px;
  background-image: var(--gradient);
  color: transparent;
  background-clip: text;
  background-size: 400%;
  animation: bg-animation 3s infinite alternate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 3em;
}
