.App {
  color: rgb(245, 245, 245);
  height: 100vh;
  background: black;
  background-size: cover;

  // .appRightColumn {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  // }
}

.playerContainer {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
