.App {
  color: rgb(245, 245, 245);
  height: 100vh;
  background: black;
  background-size: cover;

  // .appRightColumn {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  // }
}
